<form method="post" enctype="multipart/form-data">
    <div class="form_block">
    image file: <input type="file" name="file"/>
    </div>
    <div class="form_block">
    chart type: 
    <select name="chart_type">
        <option value="Auto" selected>Auto-detect</option>
        <option value="Bar">Bar Chart</option>
        <option value="Line">Line Chart</option>
        <option value="Pie">Pie Chart</option>
    </select>
    </div>
    <div class="form_block">
    min value: <input type="text" name="min"/>
    </div>
    <div class="form_block">
    max value: <input type="text" name="max"/>
    </div>
    <button type="submit">Upload</button>
</form>